* {
	box-sizing: border-box;
}

body {
	
	margin: 0px;
	/* overflow: -moz-scrollbars-none; */
	max-height: 100vh;
}


/*body::-webkit-scrollbar { width: 0 !important }*/

nav {
	
	/* overflow: auto; */
	padding: 20px;
	background-color: white; 
	position: absolute;
	width: 100%;
    border-bottom: 3px solid black;
    
}

.logo {
	float: left;
	margin-top: 15px;
}

.logo img {
	width: 250px;
}

ul {
	float: right;
	list-style-type: none;
	margin-right: 30px;
	transition: max-height 0.2s ease-out;
	margin-top: 36px;
}

ul li {
	display: inline-block;
}

ul li {
	margin-left: 15px;
}

ul li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	font-size: 25px;
	padding: 10px 10px;
}
ul li:hover a{
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	padding: 10px 10px;
  
}
ul li a.active{
	color: #4CAF50;
}


.btn-toggle {
	background: black;
	width: 40px;
	padding: 5px;
	float: right;
	margin-top: -70px;
	border: none;
	outline: none;
	transition: all .5s ease;
	display: none;
}

.btn-toggle:hover {
	background: #fff;
}

.btn-toggle:hover span {
	background: #a29d9d;
	transform: scale(0.8);
}

.btn-toggle span:nth-child(1) {
	margin-top: 0px;
}

.btn-toggle span {
	background: #fff;
	display: block;
	margin-top: 6px;
	padding: 2px;
	border-radius: 5px;
	transition: all .5s ease;
	transform: scale(1);
	
}

.home .cont{
	width: 50%;
	text-align: center;
}
.home .cont p{
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 0px;
    width: 50%;
	top: 250px;
}
.home img{
    position: absolute;
	top: 100px;
  right: 0px;
  width: 50%;
}
.home .cont button{
	background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 500px;
 
}






@media (max-width: 1067px) {
	nav{
		width: 100%;
	}
	ul li {
		display: inherit;
		margin-left: 0px;
		padding: 10px;
		background: transparent;
		transition: all .5s linear;
		text-align: center;
	}
	ul li:hover {
		background: #fff;
	}
	ul li:hover a {
		color: #000;
		box-shadow: none;
	}
	.logo {
		float: none;
	}
	/* .logo img{
		
	} */
	ul {
		float: none;
		padding: 0px;
		margin-right: 0px;
		background-color: #4CAF50;
		border-radius: 3px;
		transition: max-height 0.2s ease-out;
		max-height: 0;
		overflow: hidden;
	}
	ul li a {
		color: rgb(253, 253, 253);
		text-align: center;
	}
	ul li a.active{
		color: black;
	}
	.btn-toggle {
		display: block;
		
	}
    .home .cont{
		text-align: center;
		width: 100%;
	}
    .home .cont p{
		position: relative;
       width: 100%;
	   font-size: 30px;
	   top: 0px;
    }
    .home img{
		position: relative;
		width: 80%;
		text-align: center;
		
    }
    .home .cont button{
		position: relative;
		margin-top: 0;
		
    }
}

